html {
    font-size: 62.5%;
}

@media screen and (max-width: 1210px) {
    .top .logo img {

        height: 80px;

    }



    .about-content-left p {
        font-size: 1.6rem;
        height: 1.8em;
        line-height: 1.8rem;
    }

    .about-content-right p {
        font-size: 1.6rem;
    }
}




@media screen and (max-width: 1140px) {


    .navbar a {
        font-size: 2.2rem;
    }



    .about-top h3 {
        font-size: 2.4rem;
    }

    .about-top-social a:first-of-type::before {
        width: 32px;
        height: 32px;
        background-size: cover;

    }

    .about-top-social a:last-of-type::before {
        width: 32px;
        height: 32px;
        background-size: cover;
    }

    .about-content-left p {
        font-size: 1.4rem;
        height: 1.6em;
        line-height: 1.6rem;
    }

    .about-content-right p {
        font-size: 1.4rem;
    }

    footer p {
        font-size: 1.8rem;
    }
}



@media screen and (max-width: 1036px) {
    .navbar a {
        font-size: 1.8rem;

    }



    .about-top h3 {
        font-size: 1.42rem;
    }

    .about-content-left p {
        font-size: 1.2rem;
    }

    .about-content-right p {
        font-size: 1.2rem;
    }

    footer p {
        font-size: 1.2rem;
    }

    .about-top-social a {
        font-size: 0;
    }


}





@media screen and (max-width: 768px) {
    .navbar a {
        font-size: 1.6rem;

    }

    .top {
        width: 100vw;
    }

    .banner img {
        padding-top: 80px;
        width: 100VW;


    }

    .navbar li {
        margin: 0 7px;
    }

    .about_map .about {
        margin-left: 0;
    }


    .map {
        display: none;
    }

    .about_map .about {
        width: 100vw;
    }

    .about-top h3 {
        font-size: 2rem;
    }

    .about-content-left p {
        font-size: 1.8rem;
        height: 2rem;
        line-height: 2rem;
    }

    .about-content-right p {
        font-size: 1.8rem;

    }

    footer p {
        font-size: 1.4rem;
    }
}



@media screen and (max-width:676px) {
    .navbar a {
        font-size: 1.3rem;

    }

    .rigiser_login a {
        font-size: 1.2rem;
        padding-right: 2px;
    }



    .navbar li {
        margin: 3px;
    }




    .about-content-left p {
        font-size: 1.6rem;
        height: 1.6rem;
        line-height: 1.6rem;
    }

    .about-content-right p {
        font-size: 1.6rem;

    }

    footer p {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
}



@media screen and (max-width:576px) {
    .top {
        height: 80px;
        width: 100%;
        position: relative;
    }

    .top .logo img {

        position: absolute;
        right: 0px;
        top: 0px;
        height: 70px;
        margin: 10px 30px 10px 0px;
    }

    .top .fa {
        display: block;
        font-size: 40px;
        color: white;
        padding-left: 20px;

    }



    .top .navbar ul {

        position: fixed;
        top: 80px;
        left: -80vw;
        flex-direction: column;
        background-color: rgba(241, 90, 36, 0.7);
        width: 80vw;
        padding-top: 10px;
        height: calc(100vh - 80px);
        margin-bottom: 20px;
        transition: 1s;



    }

    .top .navbar li {
        margin-right: 0;

    }

    .top .navbar li a {
        padding-left: 50px;
        line-height: 60px;
        font-size: 2rem;
    }

    .top {
        position: relative;

    }



    .rigiser_login {
        position: absolute;
        left: -80vw;
        top: 340px;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        line-height: 60px;
        padding-top: 10px;
        width: 50vw;
        margin-top: 40px;
        border-top: 1px solid white;
        transition: 1s;

    }

    .rigiser_login a {
        font-size: 2rem;
    }

    /* .top .fa:hover~.navbar ul {
        left: 0;
    }

    .top .fa:hover~.rigiser_login {
        left: 0;
    } */
    .top .navbar ul.menu-active {
        left: 0;
    }

    .top .rigiser_login.menu-active {
        left: 0;
    }

    .banner img {
        padding-top: 0px;
        width: 100VW;

    }

    .news {
        text-align: center;

    }

    .news p:first-of-type {
        display: none;
    }

    .news-images {
        display: flex;
        flex-direction: column;

        align-items: center;

    }

    .news-images img {
        width: 100%;

        margin-bottom: 10px;

    }

    .hot p:first-of-type {
        display: none;
    }

    .product {
        padding-left: 10px;
    }



    .about_map {
        width: 100vw;
    }

    .discount p:first-of-type {
        display: none;
    }

    .discount-image {
        width: 90vw;
        background-size: cover;
    }

    .about-content-left p {
        font-size: 1.4rem;
        height: 1.6rem;
        line-height: 1.6rem;
    }

    .about-content-right p {
        font-size: 1.4rem;

    }


    footer p {
        font-size: 1rem;
        letter-spacing: 1px;
    }
}



@media screen and (max-width:545px) {}



@media screen and (max-width:475px) {


    .about-content-left p {
        font-size: 1.2rem;
        height: 1.4rem;
        line-height: 1.4rem;
    }

    .about-content-right p {
        font-size: 1.2rem;

    }

    footer p {
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
}



@media screen and (max-width:426px) {


    footer p {
        font-size: 0.8rem;
        letter-spacing: 0px;
    }
}

@media screen and (max-width:375px) {}